<div class="row">
  <div class="col-md-12">


      <%current_user.photos.each do |photo|%>

      <li><img src="<%=photo.image%>" width="200"></li>
      <% photo.comments.each do |comment|%>

      <li> <%=comment.body%></li>

      <%end%>

      <%end%>




    </div>
    </div>


